<header class="topbar">
  <div>
    <h1>ClinicApp</h1>
    <p class="saludo">
      Hola, {{ usuario()?.nombre }} {{ usuario()?.apellido }}
      <span class="rol">{{ usuario()?.rol }}</span>
    </p>
  </div>

  <nav class="menu">
    <a routerLink="productos" routerLinkActive="activo">Productos</a>
    <a routerLink="inventario" routerLinkActive="activo">Inventario</a>
    

  </nav>

  <button class="btn-logout" (click)="logout()">Cerrar sesión</button>
</header>

@if (mensajeError()) {
  <p class="estado error">{{ mensajeError() }}</p>
}

<main class="contenido">
  <router-outlet />
</main>